.container {
    background-color: #0E0E10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 1.3em;
}

.textbox{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #1F1F23;
    padding: 1rem;
    margin: 1rem;
    width: 25vw;
    height: 40vh;
}

.textbox li {
    list-style: none;
}

.textbox span {
    font-size: 2em;
}

ul {
    padding: 0;
}

li, h1 {
    color:#DEDEE3
}